@model IEnumerable<CEHHotel.Models.GuestDTO>

@{
    ViewData["Title"] = "Guest List";
}

<h1>Guest List</h1>

<p>
    <a asp-action="Create">Create New Guest</a>
</p>

<form asp-controller="Guests" asp-action="Index">
    <p>
        Last Name: <input type="text" name="SearchString" />
        <input type="submit" value="Search" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckInDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckOutDate)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.CreditCardNum)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.PhotoId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckInDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOutDate)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.CreditCardNum)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.PhotoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
